@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Poppins", sans-serif;
}

.col1 {
  text-align: left;
  font-weight: 100;
}

.col2 {
  font-style: normal;
  text-align: left;
  color: #001dd9;
}

.col3 {
  text-align: left;
  color: #14c3cc;
}

.col4 {
  text-align: left;
  font-weight: 200;
}
